# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
*.egg-info/
venv/
env/
*.log

# Flask
instance/
.webassets-cache
*.pem

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
Desktop.ini
.DS_Store
